*{
font-family: IndieFlower;
box-sizing:border-box;
}
.signUpMainContainer{
width:90vw;
height:90vh;
display: flex;
justify-content: center;
align-items: center;
}
.signUpImage{
width:40%;
margin:400px 0 0 100px;
}
.signUpContainer{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 7% 14%;
border-radius:10px;  
}
.signUpForm{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width:100%;   
}
.signUpText{
font-size:30px;
margin:10px;
font-weight:bolder;
}
.signUpLabel,.signUpInput{
margin:2%;
font-size: 20px;
    }
.signUpInput{
border: 1px solid black;
border-radius:10px;
width:150%;
padding:30px 20px;
}
.signUpInput:focus{
border: 2px solid #FC6CAC;
box-shadow:0 0 7px 2px #FDC627;
outline: none;
}
.signUpLabel{
font-size: 22px;
}
.signUpBut{
font-size:24px;
font-weight: bold;
width:200px;
height:50px;
padding:2px;
margin: 4px;
border-radius: 10px;
border: 1px solid;
}
.signUpBut:hover{
background-color: #2347F9;
color:#FDC627;
}
.imgEye{
width:26px;
height:26px;  
}
.closedEyeSignUp{
position:relative;
top:-170px;
left:150px;
background-color: transparent;
background-size: cover;
border: none;
}
.openEyeSignUp{
position:relative;
top:-170px;
left:150px;
background-color: transparent;
background-size: cover;
border: none;
}

.swal2-popup {
font-size:30px;
width:1000px;
}
.swal2-popup .swal2-styled:focus {
box-shadow: none !important;
}
.dropdownSection{
display: flex;
align-items: center;
margin:10px;
}
.phraseIamA{
 margin:10px;
}
.goHome{
border: 1px solid black;
border-radius:10px; 
font-size:20px;
padding:8px; 
}
.goHome:hover{
background-color: #2347F9;
color:#FDC627;  
}
.Dropdown-control{
border: 1px solid black;
border-radius:10px; 
}
