.mainContainer{
    
}
.containerUnderNavbar{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
.studentsEditContainer{
    display: flex;
    justify-content: center;
    width:60vw;
    height:80vh;
    background-color: #FDC627;
    overflow-y: scroll;
    border-radius: 10px;
}
.editTitle{
    font-size: 30px;
    text-align: center;
    margin:2px;
}


