.studentCard{
    border: 2px solid black;
    width:150px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.present{
    color:green;
   
}
.absent{
    color:red;
    opacity:0.3 ;
}
p{
    font-size: 25px;
    font-weight: bolder;
}