.mainInfoContainer{
display:flex;
}
.studentsContainer{
margin:0px 40px;
width:60%;
}
.listCards{
width:50%;
display:grid;
grid-template-columns: repeat(6,1fr);
gap:20px;
margin:10px;
}
.Container{
display:flex;
justify-content: space-between;
align-items: center;
}
.pieChart{
display: flex;
align-items: center;
margin: 10px;
width:18%;
transition: all .2s ease-in-out;
}
.pieChart:hover{
    transform: scale(1.1) 
}
.absentsContainer, .presentsContainer{
    display:flex;
    justify-content: center;
    align-items: center;
}
.absentsLegent{
    margin:10px;
    width:30px;
    height:30px;
    background-color: #2347F9;
}
.presentsLegent{
    margin:10px;
    width:30px;
    height:30px;
    background-color:#FDC627;
}
h1{
text-align:center;
font-size: 22px;
animation: animation 3s ease infinite;
}
@keyframes animation {
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(-4deg);
    }
    50%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(4deg);
    }
}
h5, h6{
padding:5px;
font-size: 16px;
}
.studentListContainer{
width:97vw;
height:90vh;
}
.studentsContainer{
background-color:#FDC627;
border-radius: 10px;
width:70vw;
height:80vh;
}
.dateAndTime{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
margin:5px;
width:250px; 
}
